<ul>
	<% blips.each do |blip| %>
	<li>
		<%= link_to blip.user.username, user_blips_path(blip.user.username) %>
		<%= h blip.message %>
		<%= distance_of_time_in_words_to_now(blip.created_at) %> ago
	</li>
	<% end %>
</ul>